rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /categories/{categoryId} {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null;
      allow delete: if false;
    }

    match /parts/{partId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null
        && request.resource.data.sellerUid == request.auth.uid
        && request.resource.data.imageBase64 is string;
      allow update, delete: if request.auth != null
        && resource.data.sellerUid == request.auth.uid;
    }
  }
}
